<html>
  <head>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
    <meta name='viewport' content='width=device-width, inital-percentage=1.0' />
  </head>
  <body>
    <div class='container'>
      <h1>The Acme { API<%= ENV ? `-${ENV}` : '' %> } - Endpoints</h1>
    <ul class='list-group'>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/random
      </li>
      <li class='list-group-item'>
        <a href='/api/users/random' target='_api'>/api/users/random</a>
        Returns a random user
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/detail/:id - returns the user details including bio 
      </li>
      <li class='list-group-item'>
        <a href='/api/users/detail/<%= user.id %>'>/api/users/detail/:id</a>
        Returns user including bio.
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/:id/notes 
      </li>
      <li class='list-group-item'>
        <a href='/api/users/<%= user.id %>/notes'>/api/users/:id/notes</a>
        Returns the notes from a user
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/:id/bookmarks 
      </li>
      <li class='list-group-item'>
        <a href='/api/users/<%= user.id %>/bookmarks'>/api/users/:id/bookmarks</a>
        Returns the bookmarks from a user
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/:id/followingCompanies
      </li>
      <li class='list-group-item'>
        <a href='/api/users/<%= user.id %>/followingCompanies'>/api/users/:id/followingCompanies</a>
        Returns the companies a user is following.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/<%= user.id %>/vacations'>/api/users/:id/vacations</a>
        Returns a users vacations
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /companies
      </li>
      <li class='list-group-item'>
        <a href='/api/companies'>/api/companies</a>
        Returns all the companies
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /companies/random
      </li>
      <li class='list-group-item'>
        <a href='/api/companies/random' target='_api'>/api/companies/random</a>
        Returns a random company
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /companies/:id/companyProfits
      </li>
      <li class='list-group-item'>
        <a href='/api/companies/<%=company.id %>/companyProfits' target='_api'>/api/companies/:id/companyProfits</a>
        Returns yearly data for the company profits
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /products returns all the products
      </li>
      <li class='list-group-item'>
        <a href='/api/products'>/api/products</a>
        Returns all the products
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /offerings
      </li>
      <li class='list-group-item'>
        <a href='/api/offerings'>/api/offerings</a>
        Returns company offerings. Each item includes a companyId, a productId and the price of the product
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/:idx? (defaults to 0)
      </li>
      <li class='list-group-item'>
        <a href='/api/users'>/api/users</a>
        First 50 users and total count (users 1 to 50)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/1'>/api/users/1</a>
        Second 50 users and total count (users 51 to 100)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/2'>/api/users/2</a>
        Third 50 users and total count (users 101 to 150)
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/search/:term/:idx? (defaults to 0)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Glo'>/api/users/search/Glo</a>
        First 50 users who have the word Glo in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Glo/1'>/api/users/search/Glo/1</a>
        Second 50 users who have the word Glo in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Pro'>/api/users/search/Pro</a>
        First 50 users who have the word Pro in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Pro/1'>/api/users/search/Pro/1</a>
        Second 50 users who have the word Pro in their name, email or job titles and total count of users who match criteria.
      </li>
    </ul>
    </div>
  </body>
</html>
