<html>
  <head>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
  </head>
  <body>
    <div class='container'>
    <h1>Acme Users API - Endpoints</h1>
    <ul class='list-group'>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/:idx? (defaults to 0)
      </li>
      <li class='list-group-item'>
        <a href='/api/users'>/api/users</a>
        First 50 users and total count (users 1 to 50)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/1'>/api/users/1</a>
        Second 50 users and total count (users 51 to 100)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/2'>/api/users/2</a>
        Third 50 users and total count (users 101 to 150)
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/detail/:id - returns the user details including bio 
      </li>
      <li class='list-group-item'>
        <a href='/api/users/detail/<%= user.id %>'>/api/users/detail/<%= user.id %></a>
        Returns user including bio.
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /users/search/:term/:idx? (defaults to 0)
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Glo'>/api/users/search/Glo</a>
        First 50 users who have the word Glo in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Glo/1'>/api/users/search/Glo/1</a>
        Second 50 users who have the word Glo in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Pro'>/api/users/search/Pro</a>
        First 50 users who have the word Pro in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item'>
        <a href='/api/users/search/Pro/1'>/api/users/search/Pro/1</a>
        Second 50 users who have the word Pro in their name, email or job titles and total count of users who match criteria.
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /products returns all the products
      </li>
      <li class='list-group-item'>
        <a href='/api/products'>/api/products</a>
        Returns all the products
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /companies
      </li>
      <li class='list-group-item'>
        <a href='/api/companies'>/api/companies</a>
        Returns all the companies
      </li>
      <li class='list-group-item list-group-item-primary'>
        Endpoint /offerings
      </li>
      <li class='list-group-item'>
        <a href='/api/offerings'>/api/offerings</a>
        Returns company offerings. Each item includes a companyId, a productId and the price of the product
      </li>
    </ul>
    </div>
  </body>
</html>
